# 忽略所有 .log 文件
*.log

# 忽略压缩文件
*.zip
*.rar
*.7z
*.tar.gz


# 忽略模型文件
*mineru_models/
*mineru_models/*

*node_modules/
*node_modules/*

tmp/
tmp
temp/ 

# 忽略pycharm的文件
/.idea

# 忽略所有的 .pt .pth .ckpt .pdparams 权重文件
*.pt
*.pth
*.ckpt
*.pdparams

# 忽略所有vscode配置文件
.vscode/
debug/
*.pyc 
*.pyd 

# 忽略所有.ipynb_checkpoints
**/.ipynb_checkpoints/*

# 忽略一些随便写写的code
/others.py
/zzzz_code
/OTHERS

# 忽略数据集数据文件
**/SegmentationClass/*.png
**/Annotations/*.xml
**/JPEGImages/*.jpg

# 忽略所有  /raw_data/ 、 /train_data/、 /test_data/、、
**/raw_data/**/*.jpg
**/raw_data/**/*.png
**/raw_data/**/*.json

**/train_data/**/*.jpg
**/train_data/**/*.png

**/test_data/**/*.jpg
**/test_data/**/*.png

# 忽略所有的 __pycache__
**/__pycache__/*

# 忽略所有.idea
.idea/*

# 但是跟踪名为 `trace.log` 的文件
!trace.log

# 忽略所有目录下的 `temp` 文件夹
temp/

# 忽略根目录下的 TODO 文件，不忽略 subdir/TODO
/TODO

# 忽略 build/ 目录下的所有 .o 和 .a 文件
build/*.o
build/*.a
build/

# 忽略所有 .pdf 文件，但不忽略 doc/notes.pdf
*.pdf
!doc/notes.pdf

# 忽略所有 .txt 文件，除了 doc/ 目录下的 .txt 文件
*.txt
!doc/*.txt

# 忽略所有 .abc 文件，除了 src/ 目录及其子目录下的 .abc 文件
*.abc
!src/**/*.abc
